
/* layout */
body{
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: gray;
}

header{
	width: auto;
	height: 100px;
	text-align: center;
	border-bottom: 2px solid gray;
}

footer{
	width: 100%;
	height: 100px;
	border-top: 5px solid #4aaaa5;
	background-color: #666666;
	bottom: 0;
	text-align: center;
	line-height: 100px;
	position: absolute;
	color: white;
	clear: none;
}

nav{
	margin-left: 600px;
	line-height: 100px;
}

a{
	color: gray;
	text-decoration: none;

}

h1{
	font-family: 'Georgia', Times, Times New Roman, serif;
	color: #4aaaa5; 
	font-size: 48px;
}

h3{
    font-family: 'Georgia', Times, Times New Roman, serif;
	color: #4aaaa5; 
	font-size: 24px;
}

#logo{
	font-family: 'Georgia', Times, Times New Roman, serif;
	width: 300px;
	height: 100px;
	color: white;
	text-align: center;
	background-color: #4aaaa5; 
	font-size: 72px;
	line-height: 100px;
	margin-left: 150px;
	float: left;
}

article{
	float: left;
	width: 568px;
	height: auto;
	margin-left: 200px;
	margin-top: 50px;
	background-color: white;
	padding: 25px;
}

aside{
	float: left;
	margin-top: 50px;
	margin-left: 50px;
	width: 269px;
	height: 200px;
	background-color: white;
}

#container{
	width: auto;
	height: 100%;
	background: url(../images/articleBG.png) repeat;

}

hr{
	color: gray;
}

/* index.html  */

img{
	float: left;
}

.box{
	height: 100px;
	width: 100px;
	background-color: red;

}


/* portfolio */
.imageSpace{
	margin-right: 15px;
}